.main {
  width: 100%;
}
.main__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__head {
  font-size: 110px;
  color: pink;
  letter-spacing: 9px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
}
.main__title {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: -50px;
}
.main__p {
  font-family: "Raleway", sans-serif;
  margin-left: 20px;
  max-width: 635px;
}

.pic {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.pic__first-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pic__second-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pic__head {
  font-size: 110px;
  color: pink;
  letter-spacing: 9px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 65%;
    margin-left: 50px;
  }
  .main__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__p {
    font-family: "Raleway", sans-serif;
    margin-left: 20px;
    text-align: center;
  }
  .main__pic {
    height: 450px;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79%;
    margin-left: 50px;
    text-align: center;
  }
  .pic__row {
    height: 250px;
    width: 230px;
  }
  .pic__head {
    font-size: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__head {
    font-size: 50px;
    margin-top: 20px;
  }
  .main__title {
    font-size: 19px;
    margin-top: 20px;
  }
  .main__p {
    font-family: "Raleway", sans-serif;
    margin-left: 20px;
    text-align: center;
  }
  .main__pic {
    height: 300px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pic {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pic__row {
    height: 100px;
    width: 100px;
  }
}
.container {
  width: 80%;
  max-width: 1440px;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}
.container__logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.25px;
  margin-left: 50px;
  letter-spacing: 5px;
}
.container__nav {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.container__li1 {
  margin-right: 50px;
}
.container__li1:hover {
  border: 1px solid rgb(234, 109, 188);
  background-color: pink;
}
.container__li {
  margin-right: 50px;
}
.container__li:hover {
  border: 1px solid rgb(234, 109, 188);
  background-color: pink;
}

a {
  text-decoration: none;
  color: palevioletred;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .container__logo {
    font-size: 24px;
  }
  .container__nav {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .container__logo {
    font-size: 20px;
  }
  .container__nav {
    visibility: collapse;
  }
  .hamburger {
    display: block;
    margin: auto;
    margin-left: -50px;
  }
}
body {
  background-color: white;
  width: 100%;
}