.main {
  width: 100%;
}
.main__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main__head {
  font-size: 110px;
  color: pink;
  letter-spacing: 9px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
}
.main__title {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: -50px;
}
.main__p {
  font-family: "Raleway", sans-serif;
  margin-left: 20px;
  max-width: 635px;
}

.pic {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.pic__first-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pic__second-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pic__head {
  font-size: 110px;
  color: pink;
  letter-spacing: 9px;
  margin-left: 50px;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 65%;
    margin-left: 50px;
  }
  .main__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__p {
    font-family: "Raleway", sans-serif;
    margin-left: 20px;
    text-align: center;
  }
  .main__pic {
    height: 450px;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79%;
    margin-left: 50px;
    text-align: center;
  }
  .pic__row {
    height: 250px;
    width: 230px;
  }
  .pic__head {
    font-size: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__head {
    font-size: 50px;
    margin-top: 20px;
  }
  .main__title {
    font-size: 19px;
    margin-top: 20px;
  }
  .main__p {
    font-family: "Raleway", sans-serif;
    margin-left: 20px;
    text-align: center;
  }
  .main__pic {
    height: 300px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pic {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pic__row {
    height: 100px;
    width: 100px;
  }
}
.header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.25px;
  margin-left: 50px;
  letter-spacing: 5px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 18px;
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu li a:hover {
  -webkit-box-shadow: 0 -5px 0px #ee8ee9 inset, 500px 0 0 pink inset;
          box-shadow: 0 -5px 0px #ee8ee9 inset, 500px 0 0 pink inset;
  padding: 35px 25px 45px 25px;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: #000;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger:before {
  top: -10px;
  width: 30px;
}

.hamburger:after {
  top: 10px;
  width: 30px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none;
}

.container {
  width: 80%;
  max-width: 1440px;
  min-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}
.container__logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.25px;
  margin-left: 50px;
  letter-spacing: 5px;
}
.container__nav {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.container__li1 {
  margin-right: 50px;
}
.container__li1:hover {
  border: 1px solid rgb(234, 109, 188);
  background-color: pink;
}
.container__li {
  margin-right: 50px;
}
.container__li:hover {
  border: 1px solid rgb(234, 109, 188);
  background-color: pink;
}

a {
  text-decoration: none;
  color: palevioletred;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .container__logo {
    font-size: 24px;
  }
  .container__nav {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-left: 50px;
  }
}
.navigation input:checked ~ .hamburger {
  right: 0;
}

@media only screen and (max-width: 320px) {
  .hamburger,
  .toggle-menu {
    display: block;
  }
  .header {
    padding: 10px 20px;
  }
  .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background: #ee8ee9;
    width: 50px;
    height: 200px;
    padding-top: 65px;
  }
  .menu li a .menu li a:hover {
    padding: 30px;
    font-size: 20px;
    -webkit-box-shadow: 0 1px 0 rgb(255, 255, 255);
            box-shadow: 0 1px 0 rgb(255, 255, 255);
  }
}
body {
  background-color: white;
  width: 100%;
}